#home::-webkit-scrollbar {
  display: none;
}
/* project.jsx*/

.project_about > div > p{
  text-align: left;
}
.project_about{
    background-image: url('../assets/cranes.jpg');
    background-size: cover;
}
.project_about > div > ul{
    margin-top: 8px;
    list-style: disc;
}

/* turnkey.jsx*/

.Turnkey_landing{
  background-image: url("../assets/Turnkey_land.jpg");
  background-attachment: fixed;
}

.Turnkey_landing>div>div>p{
  text-align: center;
  font-size: 14px;
  margin-top: 12px;
  width: 80vw;
}