@import "tailwindcss";

*{
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}
  
body::-webkit-scrollbar {
  display: none;
}